.vertical-slider {
  min-height: 100vh;
}

#slider-1 {
  background: black;
}
#slider-2 {
  background: red;
}
#slider-3 {
  background: yellow;
}
#slider-4 {
  background: green;
}

.navigation {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 10000;
}
